node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/dist
/uploads

backend/src/config/*.json
=./src/config/alumniconnect-9be89-firebase-adminsdk-fbsvc-f426a5b160.json